<!DOCTYPE html>
<html ng-app="app" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Spanishify Your To-Dos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="todoCtrl" ng-init="loadTodo()">
  <!-- <header class="jumbotron"> -->

  <div class='container' style=';background-color:#E5E3CD;margin:10% 20%;width:60%;padding-bottom:5%;'>
    <h1>Spanishify Your To-Dos<h1>
    <form>
      <input class='form-control' type="text" ng-model="todoInput" placeholder="add to list...">
      <input class="btn" type="submit" value="add" ng-click="addTodo()">
    </form>
  <!-- </header> -->
    <div class="container" style='margin: 3% 0;'>
      <div class='row' ng-repeat="todo in todos">
        <div class='col-xs-2'></div>
        <div class='col-xs-1'>
        <input type="checkbox" ng-click="deleteTodos.push(todo)"/>
        </div>
        <div class='col-xs-6' style='border'>
          <span ng-show="toggle">{{ todo.translationText }}</span>
          <span ng-hide="toggle">{{ todo.text }}</span>
          <span ng-bind="todo.todos"></span>
        </div>
      </div>
    </div>

    <p>
      <button class="btn" ng-click="removeTodo(deleteTodos)"> Clear Completed </button>
      <button class="btn" ng-click="toggle = !toggle">{{ toggleText }}</button>
    </p>
  </div>


  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
  <script src="todo.js"></script>
  <script src="app.js"></script>
</body>
</html>
